// app global css
.background
  background-color #efefef


// Buttons to show dialog that creates zones and controllers
.add-component
  position fixed
  right 5vw
  bottom 3vh

// dialog to create zones and controllers
.card-info
  width 80vh
  padding-top 15px
  background-color $grey-2

.title-dialog
  color $grey-8
  font-size 24px
  margin-left 15px

.inputs-dialog
  color white
  margin 20px 0
  align-items center

.input-dialog
  width 80%
  margin-bottom 20px

.buttons-dialog
  width 80%
  margin-top 10px

.register-dialog
  background-color #0A5959

  &:last-child
    color #0A5959
    margin-top 15px
